* {
     padding: 0; 
     margin: 0;
}
.main {
    width: 100%;
    background-image: url(pics/beige.jpeg);
    background-attachment: local;
    background-position: inherit;
    height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
}

  .main h1 {
    color: #000000;
    font-size: 40px;
    text-align: center;
    margin: 0%;
  }
    .main h3 {
        color: rgb(25, 29, 25);
        font-size: 20px;
        text-align:start;  
    }
    .main p {
        color: rgb(0, 0, 0);
    }
    ul {
        padding: 0;
        margin-left: 11%;
    }
    ul li {
        color:rgb(0, 0, 0)
        font-size: 20px;
    }
    ul li a {
        color: rgb(87, 134, 243);
        text-decoration: underline;
    }
   div.date h3{
    text-align: center;
   }
        
        
       