* {
     padding: 0; 
     margin-top: 0;
}
body {
    width: 100%;
    background-image: url(pics/beige7.jpeg);
    background-attachment: local;
    background-position: inherit;
    background-origin: inherit;
    height: fit-content;
    background-size: cover;
    background-repeat:no-repeat;
    height: 120vh;
    margin-top: 23%;

}

h1 {
    color: #000000;
    font-size: 40px;
    text-align: center;
    margin-bottom: %;
  }
    .main h3 {
        color: rgb(25, 29, 25);
        font-size: 20px;
        text-align:start;  
    }
    .main p {
        color: rgb(0, 0, 0);
        text-align: center;
    }
    ul {
        padding: 0;
        margin-left: 11%;
    }
    ul li {
        color:rgb(0, 0, 0)
        font-size: 20px;
    }
    ul li a {
        color: rgb(87, 134, 243);
        text-decoration: underline;
    }
   div.date h3{
    text-align: center;
   }
    .conclude h3 {
        text-align: center; 
    }   
        
       